* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  line-height: 1.5;
  font-family: "Inter", sans-serif;

  background-image: url(https://images.unsplash.com/photo-1584735935682-2f2b69dff9d2?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fHdvcmtvdXR8ZW58MHx8MHx8fDA%3D);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1, h2, h3{
  font-family: "Michroma", sans-serif;
  letter-spacing: 3px;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
  color: #ff5733;

}

h1{
  font-size: 5rem;
}
h2, h3{
  font-size: 3rem;
}
form {
  background-color: lightyellow;
}

h2:hover {
  color: #337bff;
  transform: scale(1.1);
}

h4, h5{
  text-align: center;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #212529;
  font-size: 2.5rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  letter-spacing: 0.3px;
  text-decoration: underline;
}

.btn-outline-warning {
  background-color: #0d6efd;
  color: #fff;
  border-color: #0d6efd;
}

.btn-outline-success {
  background-color: #198754;
  color: #fff;
  border-color: #198754;
}

.btn-outline-danger {
  background-color: #dc3545;
  color: #fff;
  border-color: #dc3545;
}

body::before {
  content: "";
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

td, th {
  text-align: center;
  vertical-align: middle;
}

th {
  background-color: bisque !important;
}
tbody{
  background-color: burlywood !important;
}

.navbar-nav .nav-link {
  font-size: 1.5rem;
}

.navbar-nav .nav-item {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

/* heatmap color scale */
.color-empty { fill: #e9ecef! ; }
.color-scale-1 { fill: #cfe9ff; }
.color-scale-2 { fill: #7fc1ff; }
.color-scale-3 { fill: #3793ff; }
.color-scale-4 { fill: #0d6efd; }

/* Legend boxes */
.legend-box { width:16px; height:16px; display:inline-block; border-radius:3px; }
.legend-box.color-scale-1 { background-color:#d0ebff; }
.legend-box.color-scale-2 { background-color:#74c0fc; }
.legend-box.color-scale-3 { background-color:#339af0; }
.legend-box.color-scale-4 { background-color:#1864ab; }
